@using FinTechGroup.Domain;

@model ExchangeRate

<form method="post">
    <div class="border p-3 mt4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Data</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="StartPrice"></label>
            <input asp-for="StartPrice" class="form-control" />
            <span asp-validation-for="StartPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndPrice"></label>
            <input asp-for="EndPrice" class="form-control" />
            <span asp-validation-for="EndPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EffectiveDate"></label>
            <input asp-for="EndPrice" class="form-control" />
            <span asp-validation-for="EffectiveDate" class="text-danger"></span>
        </div>
        @* <div class="mb-3">
        <label asp-for="SevenDaysAvg"></label>
        <input asp-for="SevenDaysAvg" class="form-control" />
        <span asp-validation-for="SevenDaysAvg" class="text-danger"></span>
        </div>
        <div class="mb-3">
        <label asp-for="ThirtyDaysAvg"></label>
        <input asp-for="ThirtyDaysAvg" class="form-control" />
        <span asp-validation-for="ThirtyDaysAvg" class="text-danger"></span>
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
