@{
    ViewData["Title"] = "About us";
}

<h1>@ViewData["Title"]</h1>

<p>
    FinTech application is a dream come true for every investor living in a hurry.
</p>

<p>
    Save time and money! Join us!
</p>
